<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Instructly</title>
    <link href="stylesheet.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Instructly</h1>
        <h3>Seu sistema de gerenciamento educacional</h3> <!-- Traduzido para "Seu sistema de gerenciamento educacional" -->
    </div>


    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Aulas</th>
                <th scope="col">Professor</th>
                <th scope="col">Início</th>
                <th scope="col">Fim</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">12352</th>
                <td>Detecção de Anomalias com IA</td>
                <td>Pedro Henrique</td>
                <td>09:20</td>
                <td>11:00</td>
            </tr>

            <tr>
                  <th scope="row">78604</th>
                  <td>Algoritmos de Busca e Busca Binária - Por que é importante?</td>
                  <td>Diego Pinheiro</td>
                  <td>11:10</td>
                  <td>12:50</td>
            </tr>
        </tbody>
        </table>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="/form" class="btn btn-success">Login</a>
    </div>

</body>
</html>
