<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructly</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Instructly</h1>
        <h3>Your educational management system</h3>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <a href="/form" class="btn btn-success">Add</a>
    </div>

    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Lectures</th>
                <th scope="col">Professor</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">12352</th>
                <td>Anomaly Detection W/ AI</td>
                <td>Pedro Henrique</td>
                <td>09:20</td>
                <td>11:00</td>
            </tr>

            <tr>
                  <th scope="row">78604</th>
                  <td>Search Algorithms and Binary Search - Why is it important?</td>
                  <td>Diego Pinheiro</td>
                  <td>11:10</td>
                  <td>12:50</td>
            </tr>



        </tbody>
        </table>
    </div>

</body>
</html>